    <label class="col-xs-3 control-label">{{label}}</label>

    <div class="col-xs-2 search-field-nopadding-rigth">
        <input class="form-control"  ng-model="id" ng-blur="inputBlur()" />
    </div>

    <div class="col-xs-7">
        <div class="input-group">
            <input class="form-control"  ng-model="description" ng-blur="inputBlur()" /> 
            <span class="input-group-btn">
                <button type="button" class="btn glyphicon glyphicon-search" ng-click="search()" aria-hidden="true" />
                <button type="button" class="btn glyphicon glyphicon-erase" ng-click="clean()"   aria-hidden="true"/>
            </span>

        </div>    
    </div>
    



<script type='text/ng-template' id="angular_serch_field_modal.html">
    <div class="modal-header">
        {{properties.title}}
    </div>
    <div class="modal-body col-xs-12 search-field">

        <div class="form-group col-xs-12">
           
           <label class="col-xs-2 control-label">{{properties.labelId}}</label>
           <span  class="col-xs-10"><input class="form-control"  ng-model="id"/></span>
        </div>

        <div class="form-group col-xs-12">
           <label class="col-xs-2 control-label">{{properties.labelDescription}}</label>
           <span  class="col-xs-10"><input class="form-control"  ng-model="description"/></span>
        </div>

        
        <div class="form-group col-xs-12" ng-show="havingData()">
            <div class="gridStyleSearchField" ng-grid="grid"></div>
        </div>
        

        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="find()">Pesquisar</button>
        <button class="btn btn-primary" ng-click="clean()">Limpar</button>
    </div>
</script>
