.gridStyleSearchField {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px;
}

.input-group-btn > .glyphicon{
    top:0px;
}

.search-field-nopadding-rigth{
    padding-right: 0px!important;
}